

body{
    font-family:"Plus Jakarta Sans", sans-serif !important ;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
}
main{
flex: 1 !important;
}

body{
    font-family:"Plus Jakarta Sans", sans-serif !important ;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    overflow-x: hidden !important;
   
}
main{
flex: 1 !important;
}

.navbar{
    height: 4rem;
  background-color: white;

}

.fa-compass{
    color: #fe424d;
 font-size: 2rem;
}
.nav-link{
    color: #222222 !important;


}
.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    height: 8rem;
    display: flex;
    flex-wrap: wrap !important;
    align-items: space-evenly !important;
    justify-content: center !important;
    text-align: center !important;
    background-color: #ebebeb !important;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}


.listing-card{
    border: none !important;
    margin-bottom: 2rem;
   
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text{
    font-weight: 400 !important;
}

.listing-links{
    text-decoration: none !important;
    color: #222222 !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.175;
    background-color: white;

}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    font-size: 2rem;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    height: 4rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
 font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    height: 8rem;
    display: flex;
    flex-wrap: wrap !important;
    align-items: space-evenly !important;
    justify-content: center !important;
    text-align: center !important;
    background-color: #ebebeb !important;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}


.card{
    border: none !important;
    margin-bottom: 2rem;
   
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0;
}
.card-text{
    font-weight: 400 !important;
}

.listing-links{
    text-decoration: none !important;
    color: #222222 !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.175;
    background-color: white;

}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    font-size: 2rem;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}